filebeat.config.modules:
  enabled: true
  path: ${path.config}/modules.d/*.yml

filebeat.modules:
  - module: netflow
    log:
      enabled: true
      var.netflow_host: "0.0.0.0"
      var.netflow_port: 2055

setup.kibana:
  host: "http://kibana:5601"
  username: {{ elastic_user }}
  password: {{ elastic_password }}
  dashboards:
    enabled: true

output.elasticsearch:
  hosts: ["https://es01:9200"]
  username: {{ elastic_user }}
  password: {{ elastic_password }}
  ssl.enabled: true
  ssl.certificate_authorities: "certs/ca/ca.crt"
