---
title: Openconfig NTP Key validation
type: object
properties:
  openconfig-system:system:
    type: object
    properties:
      openconfig-system:ntp:
        type: object
        properties:
          openconfig-system:config:
            type: object
            properties:
              openconfig-system:enabled:
                type: boolean
              openconfig-system:enable-ntp-auth:
                type: boolean
          openconfig-system:ntp-keys:
            type: object
            properties:
              openconfig-system:ntp-key:
                type: array
                items:
                  type: object
								allOf:
{% for ntp_key in validate_vars.ntp_keys %}
									- contains:
											properties:
												openconfig-system:key-id:
													type: integer
													const: {{ ntp_key.id }}
												openconfig-system:config:
													type: object
													properties:
														openconfig-system:key-id:
															type: integer
															cont: {{ ntp_key.id }}
														openconfig-system:key-type:
															type: string
															cont: {{ ntp_key.type }}
														openconfig-system:key-value:
															type: string
															conts: {{ ntp_key.value }}
{% endfor %} 
